*{
    margin: 0;
    padding: 0;
}

img{
    width:50px;
}
/* estilos del header */
header{
    width:100%;
    height:67vh;
    background-color:blue;
    background-image: url('../imagenes/descarga2.jpg');
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px 0;
    
}

.navbar{
    
    width: 80%;
    margin: auto ;
    text-align: center;
    padding:10px;
    border-radius: 10px;
}

.navbar a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
}

.navbar a:hover{
    background-color: rgb(9 203 255 / 100%);
}

.navbar a:active, a:visited{
    background-color:red;
}


/* cuerpo de la pagina */
.grid_container{
    display: grid;
    justify-content: center;
    grid-template-columns: 28% 28% 28%;
    padding: 10px;
}

.grid_container > div{
    background-color: rgb(162, 187, 179);
    text-align: center;
    padding:30px;
    font-size:40px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30%;
}

/* contenido pagina */

.container_grid2{
    display: grid;
    justify-content: center;
    grid-template-columns: 26% 26% 26%;
    padding: 10px;
    width: 97%;
    margin: auto;
    
}
.container_grid2 > .titulo_productos{
    width: 100%;
}

.titulo_productos > h1{
    text-align: center;
}

.container_grid2 > .grid{
    margin: 20px;
    padding: 30px;
    text-align: center;
    font-size:15px;
    background-color:rgba(234, 243, 243, 0.39);
    

}

.grid:hover{
    animation-duration: 5s;
    animation: forwards;
    font-size: 20px;
    border: 1px solid black;
    background-color:rgba(234, 243, 243, 0.904);
    border-radius: 100%;
}



.grid > img{
    width:100%;
    border-radius: 30px 30px 0 0;
}

.button_box{
    width:100%;
    text-align:center;
}

.boton_ver_mas{
    width:21%;
    height:50px;
    background-color:greenyellow;
    border: 0;
    border-radius:20px;
    
}

.boton_ver_mas > a{
    width:100%;
    font-size: 30px;
    padding:17px 26px;
    text-decoration: none;
    
}




